<% if flash[:notice] %>
	<div class="flash">
		<%= flash[:notice] %>
	</div>
<% end %>

<h1>Welcome to Bookers !!</h1>

<p>you can share and exchange  your opinions , inpressions , and emotions</p>
<p> about varioius books!</p>

<%= link_to "Log in", user_session_path %>
<%= link_to "Sign up", new_user_registration_path %>
